.rodape__nav {
    margin-top: 1.5rem;
}

.nav__lista {
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}

.nav__link {
    font-size: 15px;
    color: var(--branco);
    transition: .3s;
}