.rodape {
    background-color: var(--preto);
    padding: 9rem .8rem 2rem .8rem;
}

.flex {
    position: relative;
}

.corpo__float {
    padding: 2.5rem 1.5rem;
    row-gap: 1.5rem;
    position: absolute;
    background-color: var(--branco);
    top: -230px;
}

.float__btn {
    width: 220px;
    font-size: 13px;
    transition: .3s;
}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.rodape__copyright {
    font-size: 12px;
    font-weight: 400;
    color: var(--branco);
    align-self: center;
    justify-self: center;
}